body {
	background-color:black;
	font-family: 'Share Tech Mono', monospace;
	text-align: center;
	line-height: 1.5;
}

h1, h2, label {
	color: #00ff00;
}

.submit {
	background-color: transparent;
	color: #00ff00;
	font-size: 1.5em;
	font-family: 'Share Tech Mono', monospace;
	margin-top: 10px;
}

a, p {
	font-size: 1.5em;
	color: #00ff00;
}

a {
	color: green;
}

p a {
	font-size: 1em;
}

@media (max-width: 768px) {
	body {
		font-size: 0.8em;
	}
	
	a, p {
		font-size: 3vw;
	}
}